name: Terraform

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        env:
          GITHUB_TOKEN: ${{ secrets.TF_GITHUB_TOKEN }}
        run: terraform init

      - name: Terraform Plan
        env:
          GITHUB_TOKEN: ${{ secrets.TF_GITHUB_TOKEN }}
        run: terraform plan

      - name: Terraform Apply
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.TF_GITHUB_TOKEN }}
        run: terraform apply -auto-approve